## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [15]:
from tensorflow import keras # switch to tf.keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [19]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [20]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [21]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [22]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 592us/step - loss: 11139.5361
Epoch 2/50
23/23 [==============================] - 0s 532us/step - loss: 3503.9883
Epoch 3/50
23/23 [==============================] - 0s 585us/step - loss: 2981.3491
Epoch 4/50
23/23 [==============================] - 0s 567us/step - loss: 2557.9417
Epoch 5/50
23/23 [==============================] - 0s 573us/step - loss: 2188.3958
Epoch 6/50
23/23 [==============================] - 0s 552us/step - loss: 1864.5905
Epoch 7/50
23/23 [==============================] - 0s 583us/step - loss: 1593.7087
Epoch 8/50
23/23 [==============================] - 0s 556us/step - loss: 1374.3889
Epoch 9/50
23/23 [==============================] - 0s 536us/step - loss: 1178.8375
Epoch 10/50
23/23 [==============================] - 0s 576us/step - loss: 1031.2717
Epoch 11/50
23/23 [==============================] - 0s 544us/step - loss: 908.4115
Epoch 12/50
23/23 [==============================] - 0s 566us/step - loss: 803.7459
Epoch 13/50
23/23 [==============================] - 0s 553us/step - loss: 715.3035
Epoch 14/50
23/23 [==============================] - 0s 549us/step - loss: 639.6987
Epoch 15/50
23/23 [==============================] - 0s 564us/step - loss: 575.9951
Epoch 16/50
23/23 [==============================] - 0s 569us/step - loss: 522.7722
Epoch 17/50
23/23 [==============================] - 0s 565us/step - loss: 475.1819
Epoch 18/50
23/23 [==============================] - 0s 545us/step - loss: 436.5924
Epoch 19/50
23/23 [==============================] - 0s 537us/step - loss: 403.1890
Epoch 20/50
23/23 [==============================] - 0s 558us/step - loss: 371.4601
Epoch 21/50
23/23 [==============================] - 0s 549us/step - loss: 346.8981
Epoch 22/50
23/23 [==============================] - 0s 555us/step - loss: 323.5546
Epoch 23/50
23/23 [==============================] - 0s 556us/step - loss: 302.0441
Epoch 24/50
23/23 [==============================] - 0s 589us/step - loss: 285.3836
Epoch 25/50
23/23 [==============================] - 0s 598us/step - loss: 271.5973
Epoch 26/50
23/23 [==============================] - 0s 537us/step - loss: 256.9327
Epoch 27/50
23/23 [==============================] - 0s 567us/step - loss: 243.6144
Epoch 28/50
23/23 [==============================] - 0s 544us/step - loss: 236.0297
Epoch 29/50
23/23 [==============================] - 0s 557us/step - loss: 224.8988
Epoch 30/50
23/23 [==============================] - 0s 561us/step - loss: 215.7741
Epoch 31/50
23/23 [==============================] - 0s 545us/step - loss: 208.6949
Epoch 32/50
23/23 [==============================] - 0s 557us/step - loss: 201.9034
Epoch 33/50
23/23 [==============================] - 0s 553us/step - loss: 196.0163
Epoch 34/50
23/23 [==============================] - 0s 549us/step - loss: 190.8890
Epoch 35/50
23/23 [==============================] - 0s 545us/step - loss: 185.6343
Epoch 36/50
23/23 [==============================] - 0s 562us/step - loss: 181.2577
Epoch 37/50
23/23 [==============================] - 0s 571us/step - loss: 176.4099
Epoch 38/50
23/23 [==============================] - 0s 548us/step - loss: 173.4026
Epoch 39/50
23/23 [==============================] - 0s 564us/step - loss: 170.6161
Epoch 40/50
23/23 [==============================] - 0s 548us/step - loss: 165.9661
Epoch 41/50
23/23 [==============================] - 0s 553us/step - loss: 162.9109
Epoch 42/50
23/23 [==============================] - 0s 568us/step - loss: 160.3785
Epoch 43/50
23/23 [==============================] - 0s 550us/step - loss: 158.0442
Epoch 44/50
23/23 [==============================] - 0s 571us/step - loss: 155.9801
Epoch 45/50
23/23 [==============================] - 0s 539us/step - loss: 154.5824
Epoch 46/50
23/23 [==============================] - 0s 566us/step - loss: 150.9031
Epoch 47/50
23/23 [==============================] - 0s 567us/step - loss: 149.1699
Epoch 48/50
23/23 [==============================] - 0s 565us/step - loss: 148.3331
Epoch 49/50
23/23 [==============================] - 0s 560us/step - loss: 143.6153
Epoch 50/50
23/23 [==============================] - 0s 549us/step - loss: 142.3941

Next we need to evaluate the model on the test data.

In [23]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 568us/step - loss: 149.8790

149.87899780273438

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [24]:
from sklearn.metrics import mean_squared_error

In [25]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

149.87900416325928 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [26]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 84.7763442993164
MSE 2: 82.77234649658203
MSE 3: 62.15904235839844
MSE 4: 66.45729064941406
MSE 5: 65.36077117919922
MSE 6: 55.0456428527832
MSE 7: 61.61288833618164
MSE 8: 49.499935150146484
MSE 9: 48.33531951904297
MSE 10: 52.951072692871094
MSE 11: 60.61051940917969
MSE 12: 47.231510162353516
MSE 13: 53.15279769897461
MSE 14: 49.485130310058594
MSE 15: 44.91714859008789
MSE 16: 42.48579406738281
MSE 17: 45.58966064453125
MSE 18: 66.16018676757812
MSE 19: 42.51428985595703
MSE 20: 45.30576705932617
MSE 21: 48.41108703613281
MSE 22: 42.73012924194336
MSE 23: 38.86749267578125
MSE 24: 44.20159912109375
MSE 25: 47.7139892578125
MSE 26: 47.86653518676758
MSE 27: 44.514713287353516
MSE 28: 41.334861755371094
MSE 29: 50.047767639160156
MSE 30: 47.06503677368164
MSE 31: 45.589393615722656
MSE 32: 47.298118591308594
MSE 33: 41.545597076416016
MSE 34: 42.31108093261719
MSE 35: 45.63457107543945
MSE 36: 47.92867660522461
MSE 37: 43.22383117675781
MSE 38: 48.66653060913086
MSE 39: 43.102943420410156
MSE 40: 39.374698638916016
MSE 41: 44.44760513305664
MSE 42: 40.01726150512695
MSE 43: 43.50419235229492
MSE 44: 47.50542449951172
MSE 45: 55.503971099853516
MSE 46: 46.218658447265625
MSE 47: 53.59347915649414
MSE 48: 46.790382385253906
MSE 49: 51.694576263427734
MSE 50: 44.85853576660156


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 49.95972296638587
Standard Deviation: 9.677625443094884